{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
<h1>Inscription</h1>

{{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}

    <button type="submit">Créer un compte</button>
{{ form_end(registrationForm) }}
{% endblock %}
