{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<h1>Dashboard</h1>

<p>Bienvenue dans votre espace personnel.</p>

<a href="{{ path('app_logout') }}">Déconnexion</a>
{% endblock %}
